{% if 'posts' == site.tiles-source %}
    {% assign tiles = site.posts %}
{% elsif 'pages' == site.tiles-source %}
    {% assign tiles = site.html_pages | where_exp: "item", "item.show_tile != false" %}
{% endif %}
<section id="one" class="tiles">
  {% for tile in tiles limit:site.tiles-count %}
  <article>
    <span class="image">
      <img src="{{ tile.image }}" alt="{{ tile.title }}" />
    </span>
    <header class="major">
      <h3><a href="{{ tile.url  | relative_url }}" class="link">{{ tile.title }}</a></h3>
      <p>{{ tile.description }}</p>
    </header>
  </article>
  {% endfor %}
  <article>
    <span class="image">
      <img src="assets/images/Laptop.jpg" alt="Artworks" />
    </span>
    <header class="major">
      <h3><a href="/ParksPortfolio/all_posts.html" class="link">Artworks</a></h3>
      <p>Some of my simple illustrations!</p>
    </header>
  </article>
</section>
